{% extends "base.html" %}

{% block title %}
  Список тегов
{% endblock %}

{% block content %}
<h1>{{Теги}}</h1>
    <ul>
        {% for item in tags %}
        <li>
            <a href="{% url "blog:tag_detail" pk=item.pk %}">
            {{item.name}}
            </a>

            <a href="{% url "blog:tag_update" pk=item.pk %}">
            Изменить
            </a>
            /
            <a href="{% url "blog:tag_delete" pk=item.pk %}">
            Удалить
            </a>

        </li>
        {% endfor %}

        <a href="{%url "blog:tag_create" %}>Coздать</a>
    </ul>
{% endblock %}