{% extends "base.html" %}

{% block title %}
Создание тега
{% endblock %}

{% block content %}
<div class="row">
    <h1>{{name}}</h1>
    <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{form.as_p }}
            {% for field in form %}
                <p>{{field.label_tag}}</p>
            <hr>
            {% for error in field.errors %}
                {{error}}
            {% endfor %}
            <p>{{field}}</p>
            {% endfor %}
            <button type="submit" class="btn btn-primary" >Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}